<?xml version="1.0" encoding="UTF-8"?>
<!--
This is a ROS launch file which helps run several programs all in one file
-->
<launch>
    
    <param name="robot_description" textfile="$(find robot_simulation)/robot_description/urdf/robot.urdf" />

    <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model my_robot" />
    
    <rosparam file="$(find robot_simulation)/robot_description/config/config.yaml" command="load" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/simple_model" args="base_to_first_joint_position_controller joint_state_controller" />

    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
        <remap from="/joint_states" to="/simple_model/joint_states" />
    </node-->
</launch>    